<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2zb33HdSISwTLPGq261x2ccNLzbssHZM</string>
	<key>GCM_SENDER_ID</key>
	<string>339671494587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sofiaApp</string>
	<key>PROJECT_ID</key>
	<string>sofia-napolitani-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sofia-napolitani-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339671494587:ios:e0451a39451a45fdf1de9e</string>
</dict>
</plist>